{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    About us
{% endblock %}

{% block content %}
<h1 style="text-align: center;margin-bottom: 30px">About Us</h1>
<div class="row" style="display: flex;justify-content: center;margin: 0">
<img src="/media/v2_qxf1d8.png" alt="" class="col-md-12">
</div>

<p style="font-size: 18px;margin-top: 30px">
Team Fireworks is a group of programmers who really love cooking. Sweets are our favorite thing, because we consume a lot of energy when we work and study. Therefore, we need to eat a lot of delicious food to supplement the food. But as we know, there are too few delicious sweets on the market. We set up this website to collect all kinds of desserts, so that everyone knows that mousse is not only made in one way. We believe that food can be relaxing, and we hope everyone enjoys desserts.
</p>
<p style="margin-top: 30px">
Phone: 8792983 <br>
Email: DD_Fireworks@gmail.combr> <br>
Address: 180 Lambeth Rd, London SE1 7JY, United Kingdombr>
</p>
{% endblock %}
