{% extends 'base.html' %}

{% block title %}
Bakers
{% endblock %}

{% block page_title %}
Bakers
{% endblock %}

{% block content %}
<h2 style="text-align: center">Most popular bakers/cooks</h2>
<div class="row" style="padding: 20px;background-color: white;margin: 20px 0">
    <div class="col-md-4">
        <img src="/media/b1.png" alt="" style="width: 100%;height: 150px">
    </div>
    <div class="col-md-8">
        <p>
            A chef is a person whose profession is cooking and cooking dishes is the main job content. The profession of chefs appeared very early. About in the slave society, there were already full-time chefs. With the continuous improvement of social material civilization, the profession of chefs has also continued to develop, and the team of full-time chefs has continued to expand.
        </p>
    </div>
</div>

<div class="row" style="padding: 20px;background-color: white;margin: 20px 0">
<div class="col-md-4">
    <img src="/media/b2.png" alt="" style="width: 100%;height: 150px">
</div>
<div class="col-md-8">
    <p>
        A chef is a person whose profession is cooking and cooking dishes is the main job content. The profession of chefs appeared very early. About in the slave society, there were already full-time chefs. With the continuous improvement of social material civilization, the profession of chefs has also continued to develop, and the team of full-time chefs has continued to expand.
    </p>
</div>
</div>

<div class="row" style="padding: 20px;background-color: white;margin: 20px 0">
<div class="col-md-4">
<img src="/media/b3.png" alt="" style="width: 100%;height: 150px">
</div>
<div class="col-md-8">
<p>
    A chef is a person whose profession is cooking and cooking dishes is the main job content. The profession of chefs appeared very early. About in the slave society, there were already full-time chefs. With the continuous improvement of social material civilization, the profession of chefs has also continued to develop, and the team of full-time chefs has continued to expand.
</p>
</div>
</div>
{% endblock %}