{% extends 'base.html' %}

{% block title %}
Discovery
{% endblock %}

{% block page_title %}
Discovery
{% endblock %}

{% block content %}
<h2 style="text-align: center">Want to find something different?</h2>
<div class="row" style="padding: 20px;background-color: white;margin: 20px 0">
    <div class="col-md-4">
        <img src="/media/d1.jpg" alt="" style="width: 100%;height: 150px">
    </div>
    <div class="col-md-8">
        <p>
            Here i have some recommendations.
In the broad sense of Asian culture, chocolate and chewing gum are often regarded as a kind of candy. In European and American countries, candy refers only to products made with white sugar or maltose. In ancient times, Europe and the United States even used honey as a raw material to make candies, but it was not suitable for industrial production because of the excessive amount of honey that was difficult to control.
        </p>
    </div>
</div>

<div class="row" style="padding: 20px;background-color: white;margin: 20px 0">
<div class="col-md-4">
    <img src="/media/d2.png" alt="" style="width: 100%;height: 150px">
</div>
<div class="col-md-8">
    <p>
        Here i have some recommendations.
In the broad sense of Asian culture, chocolate and chewing gum are often regarded as a kind of candy. In European and American countries, candy refers only to products made with white sugar or maltose. In ancient times, Europe and the United States even used honey as a raw material to make candies, but it was not suitable for industrial production because of the excessive amount of honey that was difficult to control.
    </p>
</div>
</div>

<div class="row" style="padding: 20px;background-color: white;margin: 20px 0">
<div class="col-md-4">
<img src="/media/d3.png" alt="" style="width: 100%;height: 150px">
</div>
<div class="col-md-8">
<p>
    Here i have some recommendations.
In the broad sense of Asian culture, chocolate and chewing gum are often regarded as a kind of candy. In European and American countries, candy refers only to products made with white sugar or maltose. In ancient times, Europe and the United States even used honey as a raw material to make candies, but it was not suitable for industrial production because of the excessive amount of honey that was difficult to control.
</p>
</div>
</div>
{% endblock %}